@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,200&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Titillium Web", sans-serif;
	height: 100vh;
	width: 100vw;
}

.mainwrapper {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
}

.container {
	display: flex;
	justify-content: center;
}

.header {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f5f5f5' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2300b1b0'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	line-height: 60px;
	font-size: 12px;
	font-weight: 600;
	border-bottom-color: rgb(30, 30, 125);
	border-bottom-width: 4px;
	border-bottom-style: inset;
	text-shadow: 2px 3px 10px rgb(4, 3, 54);
	height: 62px;
}

.dronelogo {
	height: 60px;
	padding: 2px;
}

.wrapper {
	overflow-y: hidden;
	background-color: #f5f5f5;
	flex: 1 0 auto;
	display: flex;
	flex-flow:column nowrap;
}

.map {
	position: relative;
	min-height: 50%;
	flex: 1 0 auto;
}

.sidebar {
	overflow: scroll;
	max-height: 50%;
	flex: 0 0 auto;
}

.wrapperside {
}

.cardpannel {
	cursor:pointer;
	border-top-color: rgb(30, 30, 125);
	border-top-width: 4px;
	border-top-style: inset;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cardheader {
	width: 100%;
	height: 36px;
	background: #00a0fd71;
	display: flex;
}

.cardheader:hover {
	background-color: #f93943;
	color: #d9dbf1;
}

.cardheader:active {
	background-color: #00B1B0;
}

.card-header-text {
	font-size: 20px;
	font-weight: 500;
}

.card-header-info {
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	width: 150px;
}

.card-header-icon {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.showmore {
}

.cardcontent {
	display: none;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color:  #000000;
	border-right-width: 4px;
	border-right-style: solid;
	border-right-color:  #000000;
}

.burgermenu {
	width: 36px;
	height: 36px;
	z-index: 10;
	position: absolute;
	bottom: 10vh;
	left: 1vh;
	background-color: #232528;
	border-radius: 10px;
	color: #d9dbf1;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.float-rel {
	position: relative;
	width: 36px;
	height: 36px;
	bottom: 0px;
	right: 0px;
	background-color: #ffffff;
	border-radius: 1px;
	color: #d9dbf1;
	text-align: center;
}

#sites-filter {
}

.site-item {
	width: 100%;
	padding: 10px;
	text-align: center;
	vertical-align: 10px;
	cursor: pointer;
	height: 40px;
}

.site-item:hover {
	background-color: #f93943;
	color: #d9dbf1;
}

.active {
	background-color: #009ffd;
}

.nobg {
	background: rgba(255, 255, 255, 0);
}

.esri-layer-list__item {
	background: rgba(255, 255, 255, 0);
}

.p{
	padding: 10px;
	background-color: #afffff57;
	border-style: solid;
	border-color: #001f1f;
	border-width: 2px;
}

.small-caption{
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	text-align: center;
	font-style: italic;
	font-weight: 800;
}

/* Large Screen */
@media only screen and (min-width: 768px) {
	.wrapper {
		display: flex;
		flex-flow:row nowrap;
		margin: 0;
	}
	.sidebar {
		order: 1;
		overflow-y: scroll;
		max-width: min-content;
		max-height: 97vh;
		visibility: inherit;
	}
	.map {
		order: 2;
		min-height: 100%;
	}	
}

/* mobile landscape*/
@media only screen and (max-height: 544px) {
	.wrapper {
		display: flex;
		flex-flow: row nowrap;
		margin: 0;
	}
	.dronelogo {
		height: 32px;
		width: 32px;
		padding: 1px;
	}
	.header {
		font-size: 10px;
		line-height: initial;
		order: 0;
		flex: 100%;
		max-height: 36px;
	}
	.sidebar {
		order: 1;
		overflow-y: scroll;
		max-width: min-content;
		visibility: inherit;
		max-height: 90vh;
	}
	.map {
		min-height: 100%;
		order: 2;
	}	

	.card-header-text {
		font-size: 20px;
		font-weight: 500;
	}

}
