:root {
    font-size: 11px;
    font-family: 'Open Sans';
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(90, 90, 90);
    --bg-primary: rgb(0, 0, 0);
    --bg-secondary: rgb(0, 0, 0);
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.map_window {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 80vw;
}

.navbar {
    border-style: solid;
    border-color: rgb(82, 82, 82);
    border-width: 5px;
    width: 20vw;
    background: rgb(254, 254, 255);
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    flex-grow: 1;
    border: none;
    text-align: left;
    outline: none;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}